.order {
  padding: 1rem;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .button {
      display: flex;
      gap: 10px;
    }
  }
  .table {
    width: 100%;
    .action {
      display: flex;
      gap: 10px;
    }
  }
}
