.button {
  padding: 12px 16px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.button-primary {
  background-color: #1c1c1c;
  border: 1px solid #1c1c1c;
  color: #ffffff;
}

.button-secondary {
  background-color: #ffffff;
  color: #1c1c1c;
  border: 1px solid #1c1c1c;
}

.button-danger {
  background-color: #ff5656;
  border: 1px solid #ff5656;
  color: #ffffff;
}

.button-success {
  background-color: #4ab14a;
  border: 1px solid #4ab14a;
  color: #ffffff;
}
